body{
    margin: 0;
    background: lavender;
}

.balls {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    margin: 0 auto;
    position: fixed;
}

#red {
    background: red;
    left: 15%;
    animation: high-bounce 1s infinite;
}
#orange {
    background: orange;
    left: 25%;
    animation: medium-bounce 1s infinite;
}
#yellow {
    background: yellow;
    left: 35%;
    animation: low-bounce 1s infinite;
}
#blue {
    background: blue;
    left: 45%;
    animation: high-bounce 1s infinite;
}
#green {
    background: green;
    left: 55%;
    animation: low-bounce 1s infinite;
}
#purple {
    background: purple;
    left: 65%;
    animation: medium-bounce 1s infinite;
}
#pink {
    background: pink;
    left: 75%;
    animation: high-bounce 1s infinite;
}

@keyframes high-bounce {
    0% {
        top: 0;
    }
    50% {
        top: 15rem;
    }
    100% {
        top: 0;
    }
}
@keyframes medium-bounce {
    0% {
        top: 0;
    }
    50% {
        top: 10rem;
    }
    100% {
        top: 0;
    }
}
@keyframes low-bounce {
    0% {
        top: 0;
    }
    50% {
        top: 5rem;
    }
    100% {
        top: 0;
    }
}


