body{
    margin: 0;
    background: lavender;
}

.balls {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    margin: 0 auto;
    position: fixed;
}

#red {
    background: red;
    left: 15%;
    animation: high-bounce 1s infinite;
}

@keyframes high-bounce {
    0% {
        top: 0;
    }
    50% {
        top: 15rem;
    }
    100% {
        top: 0;
    }
}



